.container{
  max-width: $mvs;
  position: relative;
  margin: 23px 28px 42px 25px;
}


.header {

  &__nav-btn {
    position: absolute;
    width: 44px;
    height: 37px;
    background: $bg-color;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    top: 0;
    right: 0;


    & span {
      @include burger-line;
      left: 13px;
      top: 17px;

    }

    & span::before, & span::after {
      content: '';
      @include burger-line;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    & span::before {
      top: -4px;
    }

    & span::after {
      top: 4px;
    }
  }

  &__nav-btn.active span {
    background-color: transparent;
    transition: all 0.3s ease 0s;
  }

  &__nav-btn.active span::before {
    top: 0;
    transform: rotate(45deg);
    transition: all 0.3s ease 0s;
  }

  &__nav-btn.active span::after {
    top: 0;
    transform: rotate(-45deg);
    transition: all 0.3s ease 0s;
  }

  &__dropdown {
    position: absolute;
    width: 182px;
    background: #F5F5F5;
    right: 0;
    top: -100%;
    transition: all 0.3s ease 0s;
  }

  &__dropdown.active {
    top: 37px;
  }

  &__menu-list {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 13px;
  }

  &__menu-list:hover {
    background: #E5E5E5;
  }

  &__menu-link {
    font-size: 11px;
    line-height: 22px;
    color: #4E4E4E;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    display: block;

    &.light{
      color: #57A4A4;
    }

  }

  &__img{
    object-fit: cover;
    max-width: 100%;
    margin-top: 60px;
  }

}
