@media screen and (max-width: 1199px) and (min-width: 768px) {
  .footer {
    padding-top: 57px;
    padding-bottom: 56px;

    &__wrapper {
      max-width: 684px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 22px;
      }

    &__text{
      font-size: 16px;
      line-height: 28px;
    }

    &__contacts{
      font-size: 16px;
      line-height: 26px;
      display: flex;
      justify-content: center;
    }
    &__social-icons{
      margin-bottom: 37px;
      margin-top: 34px;
    }
    }
  }

@media screen and (min-width: 1200px){
  .footer {
    padding-top: 66px;
    padding-bottom: 70px;

    &__wrapper {
      max-width: 684px;
    }

    &__title {
      font-size: 16px;
      margin-bottom: 22px;
    }

    &__text{
      font-size: 16px;
      line-height: 28px;
    }

    &__contacts{
      font-size: 16px;
      line-height: 26px;
      display: flex;
      justify-content: center;
    }
    &__social-icons{
      margin-bottom: 37px;
      margin-top: 34px;
    }
  }
}