@media screen and (max-width: 767px) and (min-width: 321px) {
  .container{
    max-width: 767px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .posts{
    margin-top: 56px;
    max-width: 555px;

    &__title{
      margin-bottom: 24px;
    }

    &__wrapper {
      margin-bottom: 32px;
      display: flex;
      overflow: hidden;
      max-height: 140px;

      &.show{
        display: flex;
      }
    }

    &__div{
      padding-left: 20px;
    }

    &__subtitle{
      font-size: 16px;
      line-height: 30px;
      margin-top: 0;
    }

    &__text{
      font-size: 12px;
      }
    &__paragraph{
      display: block;
        margin-top: 13px;
        font-size: 14px;
        line-height: 26px;
        color: #5C5C5C;
      }
    }

  }

@media screen and (min-width: 1200px){
  .posts{
    margin-top: 66px;
    max-width: 1165px;

    &__title{
      margin-bottom: 24px;
    }

&__all {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 55px;
}

    &__wrapper {
      margin-bottom: 32px;
      display: flex;
      overflow: hidden;
      max-height: 140px;
      max-width: 555px;

      &.show{
        display: flex;
      }
    }

    &__div{
      padding-left: 20px;
    }

    &__subtitle{
      font-size: 16px;
      line-height: 30px;
      margin-top: 0;
    }

    &__text{
      font-size: 12px;
    }
    &__paragraph{
      display: block;
      margin-top: 13px;
      font-size: 14px;
      line-height: 26px;
      color: #5C5C5C;
    }
  }
}