@media screen and (max-width: 1199px) and (min-width: 768px) {
  .shots{
    margin-top: 60px;
    margin-bottom: 0;
    padding-top: 47px;
    padding-bottom: 50px;
    background-color: #F5F5F5;

    &__wrapper{
      margin: 0 auto;
      padding-left: 80px;
      padding-right: 92px;
      max-width: 596px;
    }
    &__text {
      display: block;
    }

  &__div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
  }
    &__img {
      max-width: 192px;
      width: 100%;

      &.show {
        display: block;
      }
    }
  &__image{
    display: flex;
    justify-content: space-between;
  }
  }

}

@media screen and (min-width: 1200px){
  .shots{
    padding-top: 47px;
    margin-bottom: 0;
    padding-bottom: 49px;
    background-color: #F5F5F5;
    margin-top: 37px;


    &__wrapper{
      margin: 0 auto;
      padding-left: 215px;
      padding-right: 213px;
      max-width: 772px;
    }

    &__text {
      display: block;
    }

    &__div{
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
    }
    &__img {
      max-width: 185.5px;
      width: 100%;

      &.show, &.show_last {
        display: block;
      }
    }
    &__image{
      display: flex;
      justify-content: space-between;
    }
  }

}
