@mixin burger-line{
  position: absolute;
  width: 17px;
  height: 2px;
  //left: 13px;
  background: #FFFFFF;
}
@mixin burger-btn-nav{
  position: fixed;
  right: 28px;
}

@mixin title{
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
}

@mixin link{
  font-size: 11px;
  line-height: 22px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  display: block;
}



